@using CheckRefreshBlazor
@using Microsoft.Azure.Cosmos

@inject StringService  NameSvc

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@Add">AddString</button>

<button @onclick="@InitClient">Init Client</button>

<button @onclick="@CheckBtn">CheckButon</button>

@code{

    void Add()
    {
        this.NameSvc.Add();
    }

    void InitClient()
    {
        var cosmosClient = new CosmosClient("AccountEndpoint=your string");
    }
    void CheckBtn()
    {
        Console.WriteLine("The client is responsive");
    }

}