@{
    ViewData["Title"] = "Login Page";
}

    <div class="text-center">
        <h3>Pleasse Login</h3>
        <a asp-action="FbLogin"  asp-route-ReturnUrl="@ViewData["ReturnUrl"]">Facebook Login</a>
    </div>
